body {
    color: rgb(50, 50, 50);
    --nav-bgcolor-lo: rgb(0, 0, 0, 0.05);
    --nav-bgcolor: rgb(0, 0, 0, 0.1);
    --nav-bgcolor-hi: rgb(0, 0, 0, 0.15);
    --nav-bgcolor-hi2: rgb(0, 0, 0, 0.2);
    --my-green: darkgreen;
}
@media (prefers-color-scheme: dark) {
    body, #searchbox {
        background-color: rgb(27, 30, 32);
        color: rgb(210, 210, 210);
    }
    body {
        --nav-bgcolor-lo: rgb(255, 255, 255, 0.05);
        --nav-bgcolor: rgb(255, 255, 255, 0.1);
        --nav-bgcolor-hi: rgb(255, 255, 255, 0.15);
        --nav-bgcolor-hi2: rgb(255, 255, 255, 0.2);
        --my-green: green;
    }
    a {color: rgb(65, 175, 235);}
    a:visited {color: rgb(150, 100, 230);}
}

html {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    margin: 0;
    line-height: 1.5;
    font-size: 1.1em;
}
#main {
    padding: 0 2rem 2rem 2rem;
}
nav {
    background-color: var(--nav-bgcolor);
    display: flex;
    justify-content: space-between;
}
#sitename {
    font-size: 2em;
    padding: 0 2rem;
    margin-right: 2rem;
    display: block;
    align-self: center;
}
nav form {
    display: flex;
    flex: 1;
    align-self: stretch;
    align-items: stretch;
}
nav #searchbox, nav #searchbutton {
    display: block;
}
#searchbutton {
    font-size: 1.6em;
    padding: 0.2rem;
    background-color: rgba(0, 0, 0, 0);
    border: none;
}
#searchbutton:hover {
    background-color: var(--nav-bgcolor);
}
#searchbutton:active {
    background-color: var(--nav-bgcolor-hi2);
}
#searchbox {
    flex: 1;
    border: 1px solid var(--nav-bgcolor);
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.2rem 0.5rem;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    #main {
        padding: 0 1rem 1rem 1rem;
    }
    ul {
        padding-left: 1em;
    }
    ol {
        padding-left: 1.2em;
    }
}

a:not(:hover) {
    text-decoration: none;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid gray;
    padding: 2px 8px;
}

blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 0.1em solid silver;
}
blockquote footer {
    text-align: right;
}
blockquote footer::before {
    content: "\2014 ";
}
pre > code {
    display: block;
    padding: 0.8em;
}
pre > code, code {
    background-color: rgba(0, 0, 0, 0.02);
}
.horizontal-rule {
    margin: 1em 0;
    border: 1px solid var(--nav-bgcolor);
}
.text-danger { color: #dc3545; }
.text-warning { color: #ffc107; }
.text-success { color: #28a745; }

.deplist .missing {
    font-family: monospace;
}
.deptitleuci, .index-titleuci {
    font-family: monospace;
}
.deplist .reason {
    margin-left: 1em;
    color: rgb(128, 128, 128);
    font-size: 0.8em;
}
.no-deps {
    font-size: 1em;
}
.tree-collapse-js .index-heading:hover {
    background-color: var(--nav-bgcolor-lo);
    cursor: pointer;
}
.collapsor-tree-node::after {
    content: "…";
}
.collapsed-tree-node {
    display: none;
}
.deps-status, .doc-status {
    font-size: 80%;
    color: rgb(128, 128, 128);
}
.citation {
    margin: 0.5em 0 0.5em 0;
}
.citation:target {
    background-color: var(--nav-bgcolor);
}
.citation .cite-name {
    color: var(--my-green);
    font-family: monospace;
    font-size: 0.8em;
}
.cite-ref{
    font-family: monospace;
}
.invisible {
    display: none;
}
