body {
    --bg-color: white;
    --text-color: #202020;
    --emph-color: #101010;
    --link-color: #1a0dab;
    --vlink-color: #681da8;
    --text-danger: #dc3545;
    --text-warning: #ffc107;
    --text-success: #198754;
    --text-secondary: #888;
    --nav-bgcolor-lo: rgb(0, 0, 0, 0.05);
    --nav-bgcolor: rgb(0, 0, 0, 0.1);
    --nav-bgcolor-hi: rgb(0, 0, 0, 0.15);
    --nav-bgcolor-hi2: rgb(0, 0, 0, 0.2);
    --my-green: darkgreen;
}
@media (prefers-color-scheme: dark) {
body {
    --bg-color: #1b1e20;
    --text-color: #c8c8c8;
    --emph-color: #e4e4e4;
    --link-color: #8ab4f8;
    --vlink-color: #c58af9;
    --text-danger: #e74c3c;
    --text-warning: #f39c12;
    --text-success: #00bc8c;
    --nav-bgcolor-lo: rgb(255, 255, 255, 0.05);
    --nav-bgcolor: rgb(255, 255, 255, 0.1);
    --nav-bgcolor-hi: rgb(255, 255, 255, 0.15);
    --nav-bgcolor-hi2: rgb(255, 255, 255, 0.2);
    --my-green: green;
}
}

body, #searchbox {
    background-color: var(--bg-color);
    color: var(--text-color);
}
a {color: var(--link-color);}
a:visited {color: var(--vlink-color);}

html {
    font-family: BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
    margin: 0;
    line-height: 1.5;
    font-size: 1.1em;
}
#main {
    padding: 0 2rem 2rem 2rem;
}
nav {
    background-color: var(--nav-bgcolor);
    display: flex;
    justify-content: space-between;
}
#sitename {
    font-size: 2em;
    padding: 0 2rem;
    margin-right: 2rem;
    display: block;
    align-self: center;
}
nav form {
    display: flex;
    flex: 1;
    align-self: stretch;
    align-items: stretch;
}
nav #searchbox, nav #searchbutton {
    display: block;
}
#searchbutton {
    width: 1.6em;
    font-size: 1.6em;
    padding: 0.2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
#searchbutton:hover {
    background-color: var(--nav-bgcolor);
}
#searchbutton:active {
    background-color: var(--nav-bgcolor-hi2);
}
#searchbox {
    flex: 1;
    border: 1px solid var(--nav-bgcolor);
    box-sizing: border-box;
    font-size: 1em;
    padding: 0.2rem 0.5rem;
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    #main {
        padding: 0 1rem 1rem 1rem;
    }
    ul {
        padding-left: 1em;
    }
    ol {
        padding-left: 1.2em;
    }
}

a:not(:hover) {
    text-decoration: none;
}
table {
    border-collapse: collapse;
}
td, th {
    border: 1px solid gray;
    padding: 2px 8px;
}

blockquote {
    margin: 0;
    padding-left: 1em;
    border-left: 0.1em solid silver;
}
blockquote footer {
    text-align: right;
}
blockquote footer::before {
    content: "\2014 ";
}
pre > code {
    display: block;
    padding: 0.8em;
}
pre > code, code {
    background-color: rgba(0, 0, 0, 0.02);
}
.horizontal-rule {
    margin: 1em 0;
    border: 1px solid var(--nav-bgcolor);
}
.text-danger {color: var(--text-danger);}
.text-warning {color: var(--text-warning);}
.text-success {color: var(--text-success);}

.deplist .missing {
    font-family: monospace;
}
.deptitleuci, .index-titleuci {
    font-family: monospace;
}
.deplist .reason {
    margin-left: 1em;
    color: var(--text-secondary);
    font-size: 0.8em;
}
.no-deps {
    font-size: 1em;
}
.tree-collapse-js .index-heading:hover {
    background-color: var(--nav-bgcolor-lo);
    cursor: pointer;
}
.collapsor-tree-node::after {
    content: "…";
}
.collapsed-tree-node {
    display: none;
}
.deps-status, .doc-status {
    font-size: 80%;
    color: var(--text-secondary);
}
.citation {
    margin: 0.5em 0 0.5em 0;
}
.citation:target {
    background-color: var(--nav-bgcolor);
}
.citation .cite-name {
    color: var(--my-green);
    font-family: monospace;
    font-size: 0.8em;
}
.cite-ref{
    font-family: monospace;
}
.invisible {
    display: none;
}
