{% extends "base.html" %}

{% block css %}
{{ super() }}
<style>
h1, .description {text-align: center;}
.description {font-size: 1.4em;}
.about.button {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    font-size: 1.4em;
}
.button {
    display: block;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    padding: 0.15em;
    border-radius: 0.1em;
}
.button:hover {
    background-color: rgba(0, 0, 0, 0.15);
}
.button:active {
    background-color: rgba(0, 0, 0, 0.2);
}
</style>
{% endblock %}

{% macro print_tree(tree) %}
<ul>
    {% for k, v in tree.items() %}
    <li>
        {% if 'url' in v and 'metadata' in v %}
        <a href="{{ v.url }}">
            {% if v.metadata.title %}
            <span class="index-title">{{ v.metadata.title }}</span>
            {% else %}
            <span class-"index-titleuci">{{ v.uci }}</span>
            {% endif %}
        </a>
        {% else %}
        <span class="index-heading">{{ k }}</span>: {{ print_tree(v) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{% endmacro %}

{% block content %}
<h1>{{ TITLE }}</h1>
<p class="description">{{ DESCRIPTION }}</p>
<a class="about button" href="{{ SITEURL }}/about.html">Learn more</a>
{% if index_tree %}
<div class="tree-collapsible">
{{ print_tree(index_tree) }}
</div>
{% endif %}
{% endblock content %}

{% block sync_js %}
<script type="text/javascript" src="{{ SITEURL }}/theme/tree_collapse.js"></script>
{% endblock sync_js %}
