{% extends "base.html" %}

{% block css %}
{{ super() }}<style>
h1, .description {text-align: center;}
.description {font-size: 1.4em;}
.about.button {
    margin-left: auto;
    margin-right: auto;
    width: 6em;
    font-size: 1.4em;
}
.button {
    display: block;
    text-align: center;
    background-color: var(--nav-bgcolor);
    padding: 0.15em;
    border-radius: 0.1em;
}
.button:hover {
    background-color: var(--nav-bgcolor-hi);
}
.button:active {
    background-color: var(--nav-bgcolor-hi2);
}
</style>
{% endblock %}

{% macro print_tree(tree) %}
<ul>
    {% for k, v in tree.items() %}
    <li>
        {% if 'url' in v and 'metadata' in v %}
        <a href="{{ v.url }}" {% if v.metadata.title %}class="index-title"{% else %}class="index-titleuci"{% endif %}>
        {% if v.metadata.title %}
            {{ v.metadata.title }}
{% if v.status != "ok" %} <span class="doc-status">({{v.status}})</span>{% endif %}
        {% else %}
            {{ v.uci }}
{% if v.status != "ok" %} <span class="doc-status">({{v.status}})</span>{% endif %}
        {% endif %}
        </a>
        {% else %}
        <span class="index-heading">{{ k }}</span>:
{{ print_tree(v) }}
        {% endif %}
    </li>
    {% endfor %}
</ul>
{%- endmacro %}

{% block content %}
<h1>{{ TITLE }}</h1>
<p class="description">{{ DESCRIPTION }}</p>
<a class="about button" href="{{ SITEURL }}/about.html">Learn more</a>
{% if index_tree %}
<div class="tree-collapsible">
{{ print_tree(index_tree) }}
</div>
{% endif %}
{% endblock content %}

{% block sync_js %}
{{ super() }}<script type="text/javascript" src="{{ SITEURL }}/theme/tree_collapse.js"></script>
{% endblock sync_js %}
