{% extends "base.html" %}

{% macro print_deplist(deplist) %}
<ol class="deplist">
{% for dep in deplist %}
    <li>
    {% if dep.exists %}
    <a href="{{ SITEURL }}/nodes{{ dep.uci }}.html">
        <span class="{% if dep.metadata.title %}deptitle{% else %}deptitleuci{% endif %}">
        {{ dep.metadata.title|default(dep.uci) }}</span>
        {% if dep.status != "ok" %}<span class="doc-status">({{dep.status}})</span>{% endif %}
    </a>
    {% else %}
    <span class="deptitleuci missing">{{ dep.uci }}</span>
    {% endif %}
    {% if DEP_REASON_MAP and dep.reason %}
    <span class="reason">{{ DEP_REASON_MAP[dep.reason]|default(dep.reason) }}</span>
    {% endif %}
    </li>
{% endfor %}
</ol>
{%- endmacro %}

{% block content %}
<h1> {% if metadata and metadata.title %}{{ metadata.title }}{% else %}{{ uci }}{% endif %}
{% if status != "ok" %} <span class="doc-status">({{status}})</span>{% endif %} </h1>
{% if deps %}
{% for deplist in deps %}
<h2> Dependencies:
{% if deps_status != "ok" %}<span class="deps-status">({{deps_status}})</span>{% endif %} </h2>
{{ print_deplist(deplist) }}
{% endfor %}
{% else %}
<h2 class="no-deps"> Dependencies:
{% if deps_status == "incomplete" %}Unspecified{% else %}None{% endif %} </h2>
{% endif %}

{% if document %}
<div class="horizontal-rule"></div>
{{ document }}
{% elif metadata and metadata.description %}
<div class="horizontal-rule"></div>
<p>{{ metadata.description }}</p>
{% endif %}

<div class="horizontal-rule"></div>
{% if rdeps %}
<h2> Dependency for: </h2>
{{ print_deplist(rdeps) }}
{% else %}
<h2 class="no-deps"> Dependency for: None </h2>
{% endif %}
<h2> Info: </h2>
<ul>
{%- if depth or depth == 0 %}<li>Depth: {{ depth }}</li>{% endif %}
{% if n_tdeps or n_tdeps == 0 %}<li>Number of transitive dependencies: {{ n_tdeps }}</li>{% endif %}
{#{% if n_trdeps or n_trdeps == 0 %}<li>Number of transitive reverse dependencies: {{ n_trdeps }}</li>{% endif %}#}
</ul>

{% if tdeps %}
<div class="horizontal-rule"></div>
<h2> Transitive dependencies: </h2>
{{ print_deplist(tdeps) }}
{% else %}
<h2 class="no-deps"> Transitive dependencies: None </h2>
{% endif %}

{% endblock content %}
